# file options
--exclude Pods
--exclude Tangem/Resources/Generated
--exclude Utilites/XCTemplate

# Format options
# Disable all default options
--disable all

# Enabled rules
--enable wrapEnumCases
# --enable elseOnSameLine
# --enable braces
# --enable assertionFailures

# --enable extensionAccessControl
# --enable hoistPatternLet
# --enable modifierOrder
# --enable markTypes
--enable indent
--indent 4
--ifdef no-indent

# Spacing rules options
# --enable consecutiveSpaces
# --enable consecutiveBlankLines

# --enable blankLinesBetweenScopes
# --enable blankLinesBetweenImports
# --enable blankLinesAtStartOfScope
# --enable blankLinesAtEndOfScope
# --enable blankLinesAroundMark

--enable trailingSpace
--trimwhitespace nonblank-lines

--enable trailingCommas

--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens

# Redundant rules
# --enable redundantType
# --enable redundantVoidReturnType
# --enable redundantSelf
# --enable redundantReturn
# --enable redundantPattern
# --enable redundantInit
# --enable redundantParens
# --enable redundantLetError
# --enable redundantGet
# --enable redundantExtensionACL
# --enable redundantClosure

# Old rules
# They are not uses in most cases
# --enable anyObjectProtocol
# --enable duplicateImports
# --enable typeSugar
# --enable strongifiedSelf
# --enable semicolons
# --enable linebreakAtEndOfFile
# --enable leadingDelimiters
